<h2>
    Instructions for Ktor
    (<a href="https://github.com/webjars/sample-ktor" target="_blank" rel="noopener noreferrer">Sample Source</a>)
</h2>

<p>
    Add the <a href="https://github.com/webjars/webjars-locator-lite" target="_blank" rel="noopener noreferrer">webjars-locator-lite</a>
    dependency, i.e. in Gradle:
</p>
<pre><code>implementation("org.webjars:webjars-locator-lite:0.0.4")</code></pre>

<p>
    Add your WebJars, i.e. in Gradle:
</p>
<pre><code>runtimeOnly("org.webjars:bootstrap:5.3.2")</code></pre>

<p>
    Define a routing path, an extension function that handles route resolution with the locator, create a shared / singleton instance
    of the locator, and configure the routing:
</p>
<pre><code>val WEBJARS_PATH = "/webjars"
fun WebJarVersionLocator.route(webJar: String, path: String) = run {
    path(webJar, path)?.let {
        "$WEBJARS_PATH/$it"
    }
}
val server = embeddedServer(CIO, port = 8080) {
    val webJarVersionLocator = WebJarVersionLocator()
    install(CallLogging)
    routing {
        staticResources(WEBJARS_PATH, "META-INF/resources/webjars")
        // other routes
    }
}
</code></pre>

<p>
    Use the <code>webjarVersionLocator</code> i.e. in <code>kotlinx.html</code>:
</p>
<pre><code>link(webJarVersionLocator.route("bootstrap", "css/bootstrap.min.css"), rel = "stylesheet")</code></pre>
