<h2>WebJars work with most JVM-based containers and web frameworks.</h2>

<h3>Using a WebJar requires:</h3>

<ol>
    <li>The WebJar needs to be a dependency of your application</li>
    <li>The WebJar needs to be in your application's running CLASSPATH</li>
    <li>Your container, web framework, or application needs to serve static assets from Jar files</li>
</ol>

<h3>Public CDN via <a href="http://www.jsdelivr.com" target="_blank">jsDelivr</a></h3>

<p>
    All of the WebJar contents are available on the public <a href="http://www.jsdelivr.com" target="_blank">jsDelivr</a> CDN.
    Just prefix <code>//cdn.jsdelivr.net/webjars/{groupId}</code> in front of your static asset URLs.  For instance, if using
    the <code>org.webjars : jquery</code> WebJar and your local URL to <code>jquery.js</code> is <code>/webjars/jquery/2.1.0/jquery.js</code>
    then the CDN URL would be: <code>//cdn.jsdelivr.net/webjars/org.webjars/jquery/2.1.0/jquery.js</code>    
</p>
