<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%highlight(%-5level) %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="WARN" />
    <logger name="net.spy.memcached" level="WARN" />
    <logger name="org.apache.pekko" level="WARN" />
    <logger name="application" level="INFO" />

    <logger name="org.eclipse.jgit.internal.transport.http.NetscapeCookieFile" level="ERROR" />
    <!-- todo: investigate
    p.s.a.i.n.c.AbstractChannel - Force-closing a channel whose registration task was not accepted by an event loop:
    java.util.concurrent.RejectedExecutionException: event executor terminated
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.reject(SingleThreadEventExecutor.java:926)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.offerTask(SingleThreadEventExecutor.java:353)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.addTask(SingleThreadEventExecutor.java:346)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.execute(SingleThreadEventExecutor.java:828)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.execute(SingleThreadEventExecutor.java:818)
        at play.shaded.ahc.io.netty.channel.AbstractChannel$AbstractUnsafe.register(AbstractChannel.java:471)
        at play.shaded.ahc.io.netty.channel.SingleThreadEventLoop.register(SingleThreadEventLoop.java:87)
        at play.shaded.ahc.io.netty.channel.SingleThreadEventLoop.register(SingleThreadEventLoop.java:81)
        at play.shaded.ahc.io.netty.channel.MultithreadEventLoopGroup.register(MultithreadEventLoopGroup.java:86)
        at play.shaded.ahc.io.netty.bootstrap.AbstractBootstrap.initAndRegister(AbstractBootstrap.java:315)
    -->

    <logger name="play.shaded.ahc.io.netty.util.concurrent" level="OFF"/>
    <!-- todo: investigate
    [error] p.s.a.i.n.u.c.D.rejectedExecution - Failed to submit a listener notification task. Event loop shut down?
    java.util.concurrent.RejectedExecutionException: event executor terminated
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.reject(SingleThreadEventExecutor.java:926)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.offerTask(SingleThreadEventExecutor.java:353)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.addTask(SingleThreadEventExecutor.java:346)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.execute(SingleThreadEventExecutor.java:828)
        at play.shaded.ahc.io.netty.util.concurrent.SingleThreadEventExecutor.execute(SingleThreadEventExecutor.java:818)
        at play.shaded.ahc.io.netty.util.concurrent.DefaultPromise.safeExecute(DefaultPromise.java:841)
        at play.shaded.ahc.io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:498)
        at play.shaded.ahc.io.netty.util.concurrent.DefaultPromise.addListener(DefaultPromise.java:183)
        at play.shaded.ahc.io.netty.channel.DefaultChannelPromise.addListener(DefaultChannelPromise.java:95)
        at play.shaded.ahc.io.netty.channel.DefaultChannelPromise.addListener(DefaultChannelPromise.java:30)
    -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
