@(currentPath: String)

@if(currentPath == routes.Application.documentation().toString) {
    <div class="alert alert-warning banner" role="alert">
        Help improve these docs!
        <a class="alert-link text-decoration-underline" href="https://github.com/webjars/webjars/blob/master/app/views/documentation.scala.html" target="_blank" rel="noopener noreferrer">
            Documentation Source
        </a> |
        <a class="alert-link text-decoration-underline" href="https://github.com/webjars/webjars/issues/new" target="_blank" rel="noopener noreferrer">
            Create an Issue
        </a>
    </div>
}
@if(currentPath == routes.Application.index().toString) {
    <div class="alert alert-warning banner" role="alert">
        Bower WebJars are no longer maintained
        (<a class="alert-link text-decoration-underline" href="https://github.com/webjars/webjars/issues/2039" target="_blank" rel="noopener noreferrer">Details</a>)
    </div>
}

<nav class="navbar navbar-expand shadow-sm sticky-top">
    <div class="container">
        <div class="d-flex align-items-center gap-2">
            <button class="d-lg-none btn px-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-nav" aria-controls="main-nav-links" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="@routes.Application.index()">
                <img alt="WebJars" src="@routes.Assets.versioned("logo.png")" height="30">
                WebJars
            </a>
        </div>

        <div class="d-none d-lg-flex flex-grow-1">
            <ul id="main-nav-links" class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link @if(currentPath == routes.Application.allWebJars().toString) { active }" href="@routes.Application.allWebJars()">All WebJars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @if(currentPath == routes.Application.documentation().toString) { active }" href="@routes.Application.documentation()">Documentation</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav flex-row gap-2 gap-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/webjars" target="_blank" rel="noopener noreferrer">
                    <svg class="bi bi-github"><use href="#github"></use></svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://x.com/WebJars" target="_blank" rel="noopener noreferrer">
                    <svg class="bi bi-twitter-x"><use href="#twitter-x"></use></svg>
                </a>
            </li>
            <li class="nav-item">
                <div class="vr h-100 mx-2"></div>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-link nav-link px-0 px-lg-2 text-decoration-none dropdown-toggle d-flex align-items-center"
                        id="bd-theme"
                        type="button"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        data-bs-display="static">
                    <svg class="bi my-1 me-2 theme-icon-active"><use href="#circle-half"></use></svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>
                            Light
                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>
                            Dark
                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="#circle-half"></use></svg>
                            Auto
                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                        </button>
                    </li>
                </ul>
            </li>
            @if(currentPath == routes.Application.documentation().toString) {
                <li class="d-lg-none nav-item">
                    <button class="btn px-1 nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-nav" aria-controls="sidebar-nav" aria-label="Toggle sidebar navigation">
                        <svg class="bi bi-three-dots-vertical"><use href="#three-dots-vertical"></use></svg>
                    </button>
                </li>
            }
        </ul>
    </div>
</nav>

<div id="main-nav" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="mainOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
        <h5 id="mainOffcanvasLabel" class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <ul class="nav flex-column text-center">
            <li class="nav-item">
                <a class="nav-link" href="@routes.Application.index()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.Application.allWebJars()">All WebJars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.Application.documentation()">Documentation</a>
            </li>
        </ul>
    </div>
</div>
