body {
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    target-new: tab;
    target-position: behind;
}

pre {
    margin-bottom: 0;
    margin-top: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.build-instructions pre {
    border-style: none;
    background: none;
    padding: 0;
}

.table-versions {
    width: 240px;
}

.table-files {
    width: 80px;
}

#clearSearch {
    position: absolute;
    top:0;
    color:#999999;
    display:none;
    right: 5px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
}

.tab-pane h3 {
    margin-top: 0px;
}

.navbar-brand.active {
    color: #fff;
}

.select2-container .select2-choice {
    height: 30px;
    line-height: 30px;
}

.spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}