<section class="section-wrapper">
    <div class="container">
        <h2 class="section-wrapper-title">Features</h2>

        <ul class="row g-3 list-unstyled features-list">
            <li class="col-md-6">Explicitly and easily manage the client-side dependencies in JVM-based web applications</li>
            <li class="col-md-6">Use JVM-based build tools (e.g. Maven, Gradle, sbt, ...) to download your client-side dependencies</li>
            <li class="col-md-6">Know which client-side dependencies you are using</li>
            <li class="col-md-6">Transitive dependencies are automatically resolved and optionally loaded via RequireJS</li>
            <li class="col-md-6">Deployed on <a href="https://search.maven.org/" target="_blank">Maven Central</a></li>
            <li class="col-md-6">Public CDN, generously provided by: <a href="https://www.jsdelivr.com" target="_blank"><img src="https://www.jsdelivr.com/blog/assets/img/logo.png" height="20"></a></li>
        </ul>
    </div>
</section>
