<section class="section-wrapper">
    <div class="container">
        <h2 class="section-wrapper-title">WebJars come in four flavors</h2>

        <div class="row gy-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">NPM WebJars</h3>

                        <ul class="mb-0">
                            <li>Contents mirror NPM package</li>
                            <li>GroupId: <code>org.webjars.npm</code></li>
                            <li>ArtifactId: NPM Package or URL-based Name</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Classic WebJars</h3>

                        <ul class="mb-0">
                            <li>Custom Built and Manually Deployed</li>
                            <li>GroupId: <code>org.webjars</code></li>
                            <li>ArtifactId: Varies</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <h3 class="card-title">Bower GitHub WebJars</h3>
                            <span class="badge text-bg-warning">Deprecated</span>
                        </div>

                        <ul class="mb-0">
                            <li><a href="https://github.com/webjars/webjars/issues/2039">Deprecated details</a></li>
                            <li>Contents mirror Bower package</li>
                            <li>GroupId: <code>org.webjars.bowergithub.[GITHUB_ORG]</code></li>
                            <li>ArtifactId: GitHub Repo Name</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <h3 class="card-title">Bower Original WebJars</h3>
                            <span class="badge text-bg-warning">Deprecated</span>
                        </div>

                        <ul class="mb-0">
                            <li><a href="https://github.com/webjars/webjars/issues/2039">Deprecated details</a></li>
                            <li>GroupId: <code>org.webjars.bower</code></li>
                            <li>ArtifactId: Bower Package or URL-based Name</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
