@(webjarsOrError: Either[Iterable[WebJar], String])

@import java.net.URLEncoder

<section class="section-wrapper">
    <div class="container">
        <h2 id="listTitle" class="section-wrapper-title">Popular WebJars</h2>

        <div class="card">
            <div class="card-body">

                <!-- WebJars search -->
                <div class="d-flex flex-column align-items-center justify-content-center gap-3 mb-4">
                    <div class="search-input">
                        <input id="search" class="form-control" type="text" placeholder="Search">
                        <svg id="clearSearch" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </div>

                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="npm" name="search_catalog[]" value="org.webjars.npm" checked>
                            <label class="form-check-label" for="npm">NPM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="bowergithub" name="search_catalog[]" value="org.webjars.bowergithub.*" checked>
                            <label class="checkbox-inline" for="bowergithub">Bower GitHub</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="bower" name="search_catalog[]" value="org.webjars.bower" checked>
                            <label class="checkbox-inline" for="bower">Bower Original</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="classic" name="search_catalog[]" value="org.webjars" checked>
                            <label class="checkbox-inline" for="classic">Classic</label>
                        </div>
                    </div>
                </div>

                <!-- WebJars list header -->
                <div class="d-flex align-items-center justify-content-end mb-2">
                    <div id="buildtoolselect" class="btn-group btn-group-sm flex-wrap" role="group" aria-label="Build Tool">
                        <input class="btn-check" type="radio" name="buildtool" id="sbt" value="sbt" autocomplete="off" checked>
                        <label class="btn btn-primary" for="sbt">SBT / Play 2</label>

                        <input class="btn-check" type="radio" name="buildtool" id="maven" value="maven" autocomplete="off">
                        <label class="btn btn-primary" for="maven">Maven</label>

                        <input class="btn-check" type="radio" name="buildtool" id="ivy" value="ivy" autocomplete="off">
                        <label class="btn btn-primary" for="ivy">Ivy</label>

                        <input class="btn-check" type="radio" name="buildtool" id="grape" value="grape" autocomplete="off">
                        <label class="btn btn-primary" for="grape">Grape</label>

                        <input class="btn-check" type="radio" name="buildtool" id="gradle" value="gradle" autocomplete="off">
                        <label class="btn btn-primary" for="gradle">Gradle</label>

                        <input class="btn-check" type="radio" name="buildtool" id="buildr" value="buildr" autocomplete="off">
                        <label class="btn btn-primary" for="buildr">Buildr</label>

                        <input class="btn-check" type="radio" name="buildtool" id="leiningen" value="leiningen" autocomplete="off">
                        <label class="btn btn-primary" for="leiningen">Leiningen</label>
                    </div>
                </div>

                <!-- WebJars list -->
                <div id="webJarList" class="table-responsive">
                    @partials.webJarList(webjarsOrError)
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <a href="@routes.Application.allWebJars()">
                        All WebJars
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </a>
                </div>

            </div>
        </div>

    </div>
</section>
