@this(webJarsUtil: org.webjars.play.WebJarsUtil)

@(title: String, currentPath: String = "/")(content: Html)

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("logo.png")" />

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

        <!-- Styles -->
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
        @webJarsUtil.locate("select2", "css/select2.min.css").css()
        @webJarsUtil.locate("select2-bootstrap-5-theme", "dist/select2-bootstrap-5-theme.min.css").css()
        @webJarsUtil.locate("highlightjs", "styles/atom-one-dark.min.css").css()

        <!-- Scripts -->
        @webJarsUtil.locate("jquery", "jquery.min.js").script()
        @webJarsUtil.locate("bootstrap", "dist/js/bootstrap.bundle.min.js").script()
        @webJarsUtil.locate("select2", "js/select2.full.min.js").script()
        @webJarsUtil.locate("highlightjs", "highlight.min.js").script()
        <script>hljs.highlightAll();</script>
        <script src="@routes.Assets.versioned("javascripts/color-modes.js")"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEV2YQX882"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-EEV2YQX882');
        </script>
    </head>

    <body>
        @partials.icons()

        <div class="min-vh-100 h-full d-flex flex-column justify-content-between">
            @partials.navbar(currentPath)

            <div class="flex-grow-1">
                @content
            </div>

            @partials.footer()
        </div>
    </body>
</html>
