// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "lib/bootstrap/scss/functions";

// 2. Include any default variable overrides here
:root {
  --bd-card-bg: var(--bs-body-bg);
  --bd-home-bg-after: 250px;
  --bd-home-bg-before: 300px;
}

html[data-bs-theme="dark"] {
  --bd-card-bg: #161617;
  --bd-home-bg-after: 160px;
  --bd-home-bg-before: 200px;
}

$font-family-base: "Inter", sans-serif;

$primary: #6610f2;

$body-bg: #e6e6fc;
$body-bg-dark: #111113;
$card-bg: var(--bd-card-bg);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "lib/bootstrap/scss/variables";
@import "lib/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "lib/bootstrap/scss/maps";
@import "lib/bootstrap/scss/mixins";
@import "lib/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "lib/bootstrap/scss/utilities";
@import "lib/bootstrap/scss/reboot";
@import "lib/bootstrap/scss/type";
@import "lib/bootstrap/scss/images";
@import "lib/bootstrap/scss/containers";
@import "lib/bootstrap/scss/grid";
@import "lib/bootstrap/scss/tables";
@import "lib/bootstrap/scss/forms";
@import "lib/bootstrap/scss/buttons";
@import "lib/bootstrap/scss/transitions";
@import "lib/bootstrap/scss/dropdown";
@import "lib/bootstrap/scss/button-group";
@import "lib/bootstrap/scss/nav";
@import "lib/bootstrap/scss/navbar";
@import "lib/bootstrap/scss/card";
// @import "lib/bootstrap/scss/accordion";
// @import "lib/bootstrap/scss/breadcrumb";
// @import "lib/bootstrap/scss/pagination";
@import "lib/bootstrap/scss/badge";
@import "lib/bootstrap/scss/alert";
// @import "lib/bootstrap/scss/progress";
@import "lib/bootstrap/scss/list-group";
@import "lib/bootstrap/scss/close";
// @import "lib/bootstrap/scss/toasts";
@import "lib/bootstrap/scss/modal";
@import "lib/bootstrap/scss/tooltip";
@import "lib/bootstrap/scss/popover";
// @import "lib/bootstrap/scss/carousel";
@import "lib/bootstrap/scss/spinners";
@import "lib/bootstrap/scss/offcanvas";
@import "lib/bootstrap/scss/placeholders";
@import "lib/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "lib/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
body {
  position: relative;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding-left: 1rem;
}

pre {
  border-radius: $card-border-radius;
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.navbar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card {
  height: 100%;

  &-title {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &-body {
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.section-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;

  &-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}

.page-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
}

.footer-content {
  height: 5rem;
}

.hero-section {
  &-title {
    width: 100%;
    max-width: 960px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.home-bg {
  position: relative;
  overflow-x: hidden;
  margin-top: -5rem;
  padding-top: 5rem;

  &:after {
    content: "";
    width: 12rem;
    height: 40rem;
    background: linear-gradient(90deg, $purple 30%, $indigo 100%);
    filter: blur(var(--bd-home-bg-after));
    position: absolute;
    left: -15rem;
    top: -10rem;
    transform: rotate(45deg);
    z-index: -1;
  }

  &:before {
    content: "";
    width: 15rem;
    height: 50rem;
    background: linear-gradient(90deg, $purple 30%, $indigo 100%);
    filter: blur(var(--bd-home-bg-before));
    position: absolute;
    right: -25rem;
    top: -2rem;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.search-input {
  position: relative;
  width: 100%;
  max-width: 720px;
}

.features-list {
  li {
    line-height: 2;

    &:before {
      display: inline-block;
      content: "";
      vertical-align: -0.375rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%2320C997" class="bi bi-check-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/></svg>');
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.75rem;
    }
  }
}

.callout {
  --bs-link-color-rgb: var(--bd-callout-link);
  --bs-code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.callout-info {
  --bd-callout-color: var(--bs-info-text-emphasis);
  --bd-callout-bg: var(--bs-info-bg-subtle);
  --bd-callout-border: var(--bs-info-border-subtle);
}

.callout-warning {
  --bd-callout-color: var(--bs-warning-text-emphasis);
  --bd-callout-bg: var(--bs-warning-bg-subtle);
  --bd-callout-border: var(--bs-warning-border-subtle);
}

.callout-danger {
  --bd-callout-color: var(--bs-danger-text-emphasis);
  --bd-callout-bg: var(--bs-danger-bg-subtle);
  --bd-callout-border: var(--bs-danger-border-subtle);
}

.build-instructions pre {
  border-style: none;
  background: none;
  padding: 0;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 3px;
}

.table-name {
  width: 240px;
  min-width: 240px;
}

.table-versions {
  width: 240px;
  min-width: 240px;
}

.table-files {
  width: 80px;
  min-width: 80px;
}

.versions {
  width: 200px;
}

#clearSearch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  color: #999999;
  display: none;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
}

#deployLog {
  height: 200px;
  white-space: pre-line;
  word-break: normal;
  background-color: $card-bg;
}

#newWebJarNameSpinner {
  position: absolute;
  top: 0.5rem;
  right: 1.125rem;
}

#webJarList {
  max-height: 50vh;
}

/* Select 2 bootstrap-5 theme override */
html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection {
  background-color: transparent !important;
  border: 1px solid #495057;
}

html[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection--single {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

html[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection--single
  .select2-selection__rendered {
  color: #dee2e6 !important;
}

html[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection--multiple
  .select2-selection__rendered
  .select2-selection__choice {
  color: #dee2e6 !important;
}

html[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection--multiple
  .select2-selection__rendered
  .select2-selection__choice {
  border: 1px solid var(--bs-gray-600);
}

html[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection--single
  .select2-selection__rendered
  .select2-selection__placeholder {
  color: #dee2e6 !important;
}

html[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-dropdown
  .select2-search
  .select2-search__field {
  background-color: transparent !important;
  color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown {
  color: #dee2e6 !important;
  border: 1px solid #495057 !important;
  background-color: var(--bs-body-bg);
}

html[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option[role="group"]
  .select2-results__group {
  color: var(--bs-secondary-color) !important;
}

@media (min-width: 992px) {
  .page-wrapper {
    h1 {
      font-size: 3rem;
    }
  }

  .hero-section {
    &-title {
      font-size: 3rem;
    }
  }

  .home-bg {
    &:after {
      left: 8rem;
      top: -10rem;
    }

    &:before {
      right: -5rem;
      top: 5rem;
    }
  }
}
