@this(main: main)

@(webjars: Iterable[WebJar])

@main("WebJars - Classic WebJars") {

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/webJarList.js")"></script>

    <div class="container-fluid" style="padding-top: 25px;">

        <h2 style="float: left">List of Classic WebJars</h2>

        <div class="pull-right" style="float: right; margin-top: 20px;">
            <a href="@routes.Application.contributing()" class="btn btn-info" role="button">Contribute a Classic WebJar</a>
            <a href="@routes.Application.webJarRequest()" class="btn btn-info" role="button">Request a Classic WebJar</a>
        </div>

        @webJarList(webjars)

    </div>

}
