@this(main: main)

@main("WebJars - Contributing") {

    <script type="text/javascript" src='@routes.Assets.versioned("github-files-min.js")'></script>
    <script type='text/javascript'>
        $(function() {
            $.getGithubFileByFilePath("webjars", "webjars-template-zip", "pom.xml", function(contents) {
                $("#zipPom").html(hljs.highlight("xml", contents).value);
            });
        });
    </script>

    <h3>Understanding WebJars</h3>
    <ol>
        <li>The path to a WebJar's contents must be in the form:
            <pre>META-INF/resources/webjars/${name}/${version}</pre>
            This path structure was chosen because it can be universally supported by Java Web Frameworks and by including the version number in the path, far-future-expires can be easily used for aggressive caching.
        </li>
        <li>The version number must only be in the WebJar path, not in files.</li>
        <li>The version number is the upstream version, not the WebJar version.  Most of the time these are the same.  But sometimes there are packaging bugs in a WebJar that cause a version bump in just the WebJar version.</li>
        <li>The upstream source must be a versioned artifact.  If the upstream source doesn't provide a released version then either use a commit date + git commit ID (eg. 20140708-394bf29) or fork the upstream project and apply semantic versioning.</li>
        <li>The artifactId should always be lowercased. It can be built from (by order of preference):
            <ul>
                <li>The name used for bower / npm releases of the library</li>
                <li>The upstream GitHub repository name of the library</li>
                <li>The name of the library</li>
            </ul>
            If the upstream source is a fork of an official library then the artifactId should indicate that, like "jquery-foo" where "foo" is the fork owner.
        </li>
    </ol>

    <h3>Building WebJars</h3>
    <ol>
        <li>The purpose of a WebJar build is to download a specific version of a web library and package it into the WebJars form.</li>
        <li>WebJars typically use the <a href="http://maven.apache.org">Maven</a> build tool.</li>
        <li>Simple web libraries may be downloaded as it's individual source files.  But usually the web library is downloaded as zip file, then extracted and arranged into the right form.</li>
        <li>A starter Maven build <span class="label label-info">pom.xml</span> file looks like:<br/><br/>
            <pre id="zipPom" class="pre-scrollable"></pre>
        </li>
        <!-- TODO: Add non-zip example -->
    </ol>

    <h3>Releasing WebJars</h3>
    <ol>
        <li>The <a href="http://webjars.org">webjars.org</a> website pulls its list of WebJars from artifacts with a groupId of <span class="label label-info">org.webjars</span> on <a href="http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.webjars%22">Maven Central</a>.</li>
        <li>Currently the artifactId of a WebJar must match a repo in the <a href="https://github.com/webjars">webjars organization on GitHub</a>.</li>
        <li>To get a WebJar listed on the <a href="http://webjars.org">webjars.org</a> website, create your own GitHub repo containing the Maven build for the new WebJar.</li>
        <li>Then <a href="https://github.com/webjars/webjars/issues/new">open a new WebJar request</a> and indicate your GitHub repo.</li>
        <li>Your repo will be forked into the <a href="https://github.com/webjars">webjars organization on GitHub</a>, then tested and released to Maven Central.</li>
    </ol>

}
