@this(main: main)

@main(title = "WebJars - Documentation", currentPath = "/documentation") {

<script>
$(function() {
    var frameworkTabs = $('#framework-tabs');

    frameworkTabs.find('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        var id = $(e.target).attr("href").substr(1);
        window.history.pushState(null, null, '#' + id);
    });

    frameworkTabs.find('a[href="' + window.location.hash + '"]').tab('show');
});
</script>

<div class="container page-wrapper">
    <h1>Documentation</h1>

    <div class="row">

        <aside class="col-lg-3 col-xl-2">
            <div id="sidebar-nav" class="offcanvas-lg offcanvas-start" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar-nav"></button>
                </div>

                <div class="offcanvas-body">
                    <nav class="nav-sidebar">
                        <ul id="framework-tabs" class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#usage" data-bs-toggle="tab">Usage</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#play2" data-bs-toggle="tab">Play Framework 2</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#xitrum" data-bs-toggle="tab">Xitrum</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#servlet3" data-bs-toggle="tab">Servlet 3</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#servlet2" data-bs-toggle="tab">Servlet 2</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#jsf" data-bs-toggle="tab">JSF</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#grails" data-bs-toggle="tab">Grails</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#dropwizard" data-bs-toggle="tab">Dropwizard</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#springboot" data-bs-toggle="tab">Spring Boot</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#springmvc" data-bs-toggle="tab">Spring MVC</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tapestry" data-bs-toggle="tab">Apache Tapestry</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#wicket" data-bs-toggle="tab">Apache Wicket</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#pippo" data-bs-toggle="tab">Pippo</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#ring" data-bs-toggle="tab">Ring (Clojure)</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#dandelion" data-bs-toggle="tab">Dandelion</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#vertx" data-bs-toggle="tab">Vert.x Web</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#quarkus" data-bs-toggle="tab">Quarkus</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#ktor" data-bs-toggle="tab">Ktor</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </aside>

        <div class="col col-lg-9 col-xl-10 tab-content">
            <div class="alert alert-warning" role="alert">
                Help improve these docs! <a href="https://github.com/webjars/webjars/blob/master/app/views/documentation.scala.html">Documentation Source</a> | <a href="https://github.com/webjars/webjars/issues/new">Create an Issue</a>
            </div>

            <!-- Usage -->
            <div class="tab-pane active" id="usage">
                @documentations.usage()
            </div>

            <!-- Play Framework 2 -->
            <div class="tab-pane" id="play2">
                @documentations.playFramework()
            </div>

            <!-- Xitrum -->
            <div class="tab-pane" id="xitrum">
                @documentations.xitrum()
            </div>

            <!-- Servlet 3 -->
            <div class="tab-pane" id="servlet3">
                @documentations.servlet3()
            </div>

            <!-- Servlet 2 -->
            <div class="tab-pane" id="servlet2">
                @documentations.servlet2()
            </div>

            <!-- JSF -->
            <div class="tab-pane" id="jsf">
                @documentations.jsf()
            </div>

            <!-- Grails -->
            <div class="tab-pane" id="grails">
                @documentations.grails()
            </div>

            <!-- Dropwizard -->
            <div class="tab-pane" id="dropwizard">
                @documentations.dropwizard()
            </div>

            <!-- Spring Boot -->
            <div class="tab-pane" id="springboot">
                @documentations.springboot()
            </div>

            <!-- Spring MVC -->
            <div class="tab-pane" id="springmvc">
                @documentations.springmvc()
            </div>

            <!-- Apache Tapestry -->
            <div class="tab-pane" id="tapestry">
                @documentations.tapestry()
            </div>

            <!-- Apache Wicket -->
            <div class="tab-pane" id="wicket">
                @documentations.wicket()
            </div>

	        <!-- Pippo -->
            <div class="tab-pane" id="pippo">
                @documentations.pippo()
            </div>

            <!-- Ring (Clojure) -->
            <div class="tab-pane" id="ring">
                @documentations.ring()
            </div>

            <!-- Dandelion -->
            <div class="tab-pane" id="dandelion">
                @documentations.dandelion()
            </div>

            <!-- Vert.x Web -->
            <div class="tab-pane" id="vertx">
                @documentations.vertx()
            </div>

            <!-- Quarkus -->
            <div class="tab-pane" id="quarkus">
                @documentations.quarkus()
            </div>

            <!-- Ktor -->
            <div class="tab-pane" id="ktor">
                @documentations.ktor()
            </div>
        </div>

    </div>

</div>

}
