@(webjars: Iterable[WebJar])

@import java.net.URLEncoder
@import play.api.libs.json.Json.toJson

@main("WebJars - Web Libraries in Jars") {

<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
            
            $(".file-list-link").click(onFileList)
           
            $("#buildtoolselect").find("button").click(function(e) {
                // update for each webjar
                buildTool = $(this).attr("data-value")

                $.each(webjars, function(i, webjar) {
                    updateDetails(webjar)
                })
            })
            
            $("tr").each(function (i, tr) {
                var webjar = getWebjar($(tr).data("artifact"))
                if (webjar != undefined) {
                    webjar['row'] = $(tr)
                }
            })
            
        })
            
        function onFileList(event) {
            console.log($(this))
            // allow middle clicks to open in a new tab
            if (event.button == 0) {
                event.preventDefault()
                $("#myModalLabel").text("Files for " + $(this).parents("tr").data("artifact"))
                $("#fileListModal .modal-body").text("Loading...")
                $("#fileListModal").removeData("modal")
                $("#fileListModal").modal({remote: $(this).attr("href")})
            }
        }
            
        function selectedVersion(artifactId) {
            return row(artifactId).find(".versions").val()
        }
            
        function row(artifactId) {
            return getWebjar(artifactId)['row']
        }
            
        function changeVersion(event) {
            var artifact = $(event.target).parents("tr").data("artifact")
            updateDetails(getWebjar(artifact))
        }
            
        function getWebjar(artifact) {
            return $.grep(webjars, function(webjar, i) { return webjar.artifactId == artifact })[0]
        }
            
        function updateDetails(webjar) {
            var webjarVersion = selectedVersion(webjar.artifactId)
            
            // update instructions
            var instructions = ""
    
            if (buildTool == "sbt") {
                instructions = '"org.webjars" % "' + webjar.artifactId + '" % "' + webjarVersion + '"'
            } else if (buildTool == "maven") {
                instructions = "<dependency>\n" +
                               "    <groupId>org.webjars</groupId>\n" +
                               "    <artifactId>" + webjar.artifactId + "</artifactId>\n" +
                               "    <version>" + webjarVersion + "</version>\n" +
                               "</dependency>"
            } else if (buildTool == "gradle") {
                instructions = "compile 'org.webjars:" + webjar.artifactId + ":" + webjarVersion + "'"
            } else if (buildTool == "leiningen") {
                instructions = "org.webjars/" + webjar.artifactId + ' "' + webjarVersion + '"'
            }

            row(webjar.artifactId).find(".build-instructions pre").text(instructions)

            // update files link
            
            var filesLink = $("<a>").attr("href", "/listfiles/" + webjar.artifactId + "/" + webjarVersion).addClass("file-list-link")
            filesLink.click(onFileList)
            var version = $.grep(webjar.versions, function(version, i) { return version.number == webjarVersion })[0]
            if (version.numFiles != undefined) {
                filesLink.text(version.numFiles + " Files")
            }
            else {
                filesLink.text("List Files")
            }

            row(webjar.artifactId).find(".files").empty().append(filesLink)
        }
    
        var webjars = @Html(toJson(webjars).toString())
    
        var buildTool = "sbt"
    
    </script>

    <div class="well">
        <h4>WebJars are client-side web libraries (e.g. jQuery & Bootstrap) packaged into JAR (Java Archive) files.</h4>
        <ul>
            <li>Explicitly and easily manage the client-side dependencies in JVM-based web applications</li>
            <li>Use JVM-based build tools (e.g. Maven, Gradle, & SBT) to download your client-side dependencies</li>
            <li>Know which client-side dependencies you are using</li>
            <li>Transitive dependencies magically appear</li>
        </ul>
    </div>

    <h2>List of WebJars</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><span style="display: inline; padding-top: 5px; padding-right: 5px;">Name</span></th>
                <th style="width: 280px"><span style="display: inline; padding-top: 5px; padding-right: 5px;">Versions</span></th>
                <th>
                    <span style="display: inline; padding-top: 5px; padding-right: 5px;">Build Tool:</span>
                    <div id="buildtoolselect" class="btn-group" data-toggle="buttons-radio" style="display: inline; margin-top: 2px; margin-right: 5px;">
                        <button type="button" class="btn btn-mini active" data-value="sbt">SBT / Play 2</button>
                        <button type="button" class="btn btn-mini" data-value="maven">Maven</button>
                        <button type="button" class="btn btn-mini" data-value="gradle">Gradle</button>
                        <button type="button" class="btn btn-mini" data-value="leiningen">Leiningen</button>
                    </div>
                </th>
                <th style="width: 100px;">
                    <span style="display: inline; padding-top: 5px; padding-right: 5px;">Files</span>
                </th>
            </tr>
        <thead>
        <tbody>
            @for(webjar <- webjars) {
                <tr data-artifact="@webjar.artifactId">
                    <td>
                        <a href="@webjar.sourceUrl"><strong>@webjar.name</strong></a>
                    </td>
                    <td>
                        <select style="margin-bottom: 0;" class="versions" onchange="changeVersion(event)">
                            @for(version <- webjar.versions) {
                                <option>@version.number</option>
                            }
                        </select>
                        <a href="@webjar.sourceUrl/issues/new" class="btn btn-inverse" style="margin-left: 5px; padding-top: 0px; margin-top: -1px;" title="request a new version"><i class="icon-plus icon-white"></i></a>
                    </td>
                    <td>
                        <div class="build-instructions">
                            <pre>"org.webjars" % "@webjar.artifactId" % "@webjar.versions.head.number"</pre>
                        </div>
                    </td>
                    <td>
                        <div class="files @webjar.artifactId">
                            <a href="@routes.Application.listFiles(webjar.artifactId, URLEncoder.encode(webjar.versions.head.number))" class="file-list-link">
                                @{webjar.versions.head.numFiles match {
                                    case Some(numFiles) => s"$numFiles Files"
                                    case None => "List Files"
                                }}
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="http://github.com/webjars/webjars/issues/new">Request a new WebJar</a>

}
