@this(main: main)

@(webjars: Iterable[WebJar])

@main("WebJars - Web Libraries in Jars") {

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/webJarList.js")"></script>

    <div class="jumbotron" style="margin-bottom: 0; background-color: #cccccc;">
        <div class="container">
            <h4><strong>WebJars are client-side web libraries (e.g. jQuery & Bootstrap) packaged into JAR (Java Archive) files.</strong></h4>
            <ul>
                <li>Explicitly and easily manage the client-side dependencies in JVM-based web applications</li>
                <li>Use JVM-based build tools (e.g. Maven, Gradle, sbt, ...) to download your client-side dependencies</li>
                <li>Know which client-side dependencies you are using</li>
                <li>Transitive dependencies are automatically resolved and optionally loaded via RequireJS</li>
                <li>Deployed on <a href="http://search.maven.org/" target="_blank">Maven Central</a></li>
                <li>Public CDN, generously provided by: <a href="http://www.jsdelivr.com" target="_blank"><img src="http://www.jsdelivr.com/img/logo-34.png" height="20"></a></li>
            </ul>
        </div>
    </div>

    <div style="padding-left: 15px; padding-right: 15px;">
        <h2>WebJars come in three flavors:</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">NPM WebJars</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Instant creation & deployment</li>
                            <li>On-demand releases by anyone</li>
                            <li>Artifact contents mirror NPM package</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bower WebJars</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Instant creation & deployment</li>
                            <li>On-demand releases by anyone</li>
                            <li>Artifact contents mirror Bower package</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Classic WebJars</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Manual packaging & deployment</li>
                            <li>On-demand by the WebJars team</li>
                            <li>Human-created RequireJS config</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h2 id="listTitle" style="float: left">Popular WebJars</h2>

        <div class="pull-right" style="margin: 0px 0px 10px 40px">
            <button class="btn btn-primary" style="margin-right: 20px; vertical-align: bottom;">Add a WebJar</button>

            <div class="btn-group">
                <div style="margin-left: 2px;">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="search_catalog[]" value="org.webjars.npm" checked> NPM
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="search_catalog[]" value="org.webjars.bower" checked> Bower
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="search_catalog[]" value="org.webjars" checked> Classic
                    </label>
                </div>
                <div class="btn-group">
                    <input type="text" class="form-control" id="search" placeholder="Search" style="width: 210px;">
                    <span class="glyphicon glyphicon-remove" id="clearSearch"></span>
                </div>
            </div>
        </div>

        <div id="webJarList">
            @webJarList(webjars, true)
        </div>

        <div style="width: 100%; text-align: center;">
            <a href="@routes.Application.allWebJars()">All WebJars</a>
        </div>
    </div>

}
