@this(webJarsUtil: org.webjars.play.WebJarsUtil, main: main)

@(webjarsOrError: Either[Iterable[WebJar], String])

@main(title = "WebJars - Web Libraries in Jars") {
    <!-- Scripts -->
    <script defer src="@routes.Assets.versioned("javascripts/index.js")"></script>
    @webJarsUtil.locate("jquery.typewatch.js").script()

    <!-- Content -->
    <div class="home-bg">
        <!-- Hero -->
        @sections.hero()

        <!-- Features -->
        @sections.features()
    
        <!-- WebJars flavors -->
        @sections.flavors()

        <!-- Popular WebJars -->
        @sections.popular(webjarsOrError)
    </div>

    <!-- Modals -->
    @partials.fileListModal()

    @partials.newWebJarModal()
}
