@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at("bootstrap/2.1.1/css/bootstrap.min.css")'>
        <style type='text/css'>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">WebJars</a>
                    <ul class="nav">
                        <li><a href="@routes.Application.documentation()">Documentation</a></li>
                        <li><a href="@routes.Application.examples()">Examples</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="container">
            @content
        </div>

        <script type='text/javascript' src='@routes.WebJarAssets.at("jquery/1.8.1/jquery.min.js")'></script>
    </body>
</html>
