@this(webJarsUtil: org.webjars.play.WebJarsUtil)

@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("logo.png")" />


        @webJarsUtil.locate("bootstrap.min.css").css()
        @webJarsUtil.locate("bootstrap-theme.min.css").css()
        @webJarsUtil.locate("select2.css").css()
        @webJarsUtil.locate("select2-bootstrap.css").css()
        @webJarsUtil.locate("default.css").css()
        <link rel="stylesheet" href='@routes.Assets.versioned("main.css")'>

        @webJarsUtil.locate("jquery.min.js").script()
        @webJarsUtil.locate("bootstrap.min.js").script()
        @webJarsUtil.locate("select2.min.js").script()
        @webJarsUtil.locate("highlight.pack.min.js").script()
        <script>hljs.initHighlightingOnLoad();</script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEV2YQX882"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-EEV2YQX882');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-links" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding-top: 10px" href="@routes.Application.index()">
                        <img alt="WebJars" src="@routes.Assets.versioned("logo.png")" height="30">
                    </a>
                    <a class="navbar-brand @if(title.indexOf("Web Libraries in Jars") > -1) { active }" href="@routes.Application.index()">WebJars</a>
                </div>
                <div class="collapse navbar-collapse" id="main-nav-links">
                    <ul class="nav navbar-nav">
                        <li @if(title.toLowerCase.indexOf("doc") > -1) { class="active" }><a href="@routes.Application.documentation()">Documentation</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        @content
    </body>
</html>
