@this(webJarsUtil: org.webjars.play.WebJarsUtil)

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("logo.png")" />

        <!-- Googlr fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

        <!-- Styles -->
        @webJarsUtil.locate("select2.css").css()
        @webJarsUtil.locate("select2-bootstrap.css").css()
        @webJarsUtil.locate("atom-one-dark.min.css").css()
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>

        <!-- Scripts -->
        @webJarsUtil.locate("jquery.min.js").script()
        @webJarsUtil.locate("bootstrap.bundle.min.js").script()
        @webJarsUtil.locate("select2.min.js").script()
        @webJarsUtil.locate("highlight.min.js").script()
        <script>hljs.highlightAll();</script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEV2YQX882"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-EEV2YQX882');
        </script>
    </head>

    <body>
        @partials.navbar()

        @content

        @partials.footer()
    </body>
</html>
