@this(staticWebJarAssets: StaticWebJarAssets, main: main)

@(webjars: Iterable[WebJar], maybePusherKey: Option[String], title: String, webJarType: String)

@main(s"WebJars - $title WebJars") {

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/webJarList.js")"></script>

    @maybePusherKey.map { pusherKey =>
        <script>
                var pusherKey = "@pusherKey";
        </script>
    }

    <script src="//js.pusher.com/2.2/pusher.min.js"></script>

    <script src="@staticWebJarAssets.getUrlBower("jquery.typewatch.js")"></script>

    <script>
        var webJarType = "@webJarType";
    </script>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/npmbower.js")"></script>

    <div class="modal fade" id="newWebJarModal" tabindex="-1" role="dialog" aria-labelledby="newWebJarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newWebJarModalLabel">Add a New @title WebJar</h4>
                </div>
                <div class="modal-body">
                    <form id="deploy" class="form-inline">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control input-sm" id="newWebJarName" aria-describedby="newWebJarNameStatus" style="width: 280px" placeholder="@title Package Name or Git Repo URL">
                            <span id="newWebJarNameFeedback" class="glyphicon form-control-feedback hidden" aria-hidden="true"></span>
                            <span id="newWebJarNameStatus" class="sr-only">(success)</span>
                        </div>
                        <div class="form-group">
                            <label for="newWebJarVersion" class="control-label sr-only">@title Package Version</label>
                            <input id="newWebJarVersion" type="text" style="width: 284px" disabled data-placeholder="Version"/>
                        </div>
                    </form>
                    <h5>Deploy Log</h5>
                    <pre id="deployLog" style="height: 200px; white-space: pre-line; word-break: normal;" disabled></pre>
                </div>
                <div class="modal-footer">
                    <button id="deployButton" type="button" class="btn btn-default pull-left" disabled>Deploy!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 25px;">

        <h2 style="float: left">Deployed @title WebJars</h2>

        <div class="pull-right" style="float: right; margin-top: 20px;">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newWebJarModal">Add a New @title WebJar</button>
        </div>

        @webJarList(webjars)

    </div>
}
