@(webjars: Iterable[WebJar], showAdd: Boolean = true)

@import java.net.URLEncoder

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th class="table-versions">Versions</th>
            <th>Build Tool:
                <div id="buildtoolselect" class="btn-group btn-group-xs" data-toggle="buttons">
                    <label class="btn btn-default active" data-value="sbt" role="button"><input type="radio" name="buildtool" id="sbt">SBT / Play 2</label>
                    <label class="btn btn-default" data-value="maven" role="button"><input type="radio" name="buildtool" id="maven">Maven</label>
                    <label class="btn btn-default" data-value="ivy" role="button"><input type="radio" name="buildtool" id="ivy">Ivy</label>
                    <label class="btn btn-default" data-value="grape" role="button"><input type="radio" name="buildtool" id="grape">Grape</label>
                    <label class="btn btn-default" data-value="gradle" role="button"><input type="radio" name="buildtool" id="gradle">Gradle</label>
                    <label class="btn btn-default" data-value="buildr" role="button"><input type="radio" name="buildtool" id="buildr">Buildr</label>
                    <label class="btn btn-default" data-value="leiningen" role="button"><input type="radio" name="buildtool" id="leiningen">Leiningen</label>
                </div>
            </th>
            <th class="table-files">Files</th>
        </tr>
    <thead>
    <tbody>
        @if(webjars.isEmpty) {
            <tr>
                <td colspan="4">
                    Looks like there was an error fetching the WebJars.  If this problem persists please <a href="https://github.com/webjars/webjars/issues/new">file an issue</a>.
                </td>
            </tr>
        }
        @for(webjar <- webjars) {
            <tr data-group="@webjar.groupId" data-artifact="@webjar.artifactId">
                <td style="vertical-align: middle;">
                    <a href="@webjar.sourceUrl"><strong>@webjar.name</strong></a>
                </td>
                <td style="vertical-align: middle;">
                    <form class="form-inline table-versions" role="form">
                        <select class="form-control versions" type="text" style="width: @if(showAdd) {200px} else {240px};" onchange="changeVersion(event)">
                        @for(version <- webjar.versions) {
                            <option data-numfiles="@version.numFiles">@version.number</option>
                        }
                        </select>
                        @if(showAdd) {
                            @webjar.groupId match {
                                case "org.webjars" => {
                                    <a href="@webjar.sourceUrl/issues/new" class="btn btn-primary btn-sm" title="Request a new version" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                                }
                                case _ => {
                                    <button title="Create a new version" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newWebJarModal" data-artifact-id="@webjar.artifactId"><span class="glyphicon glyphicon-plus"></span></button>
                                }
                            }
                        }
                    </form>
                </td>
                <td style="vertical-align: middle;">
                    <div class="build-instructions">
                        <pre>"@webjar.groupId" % "@webjar.artifactId" % "@webjar.versions.head.number"</pre>
                    </div>
                </td>
                <td style="vertical-align: middle;">
                    <div class="files @webjar.artifactId">
                        <a href="@routes.Application.listFiles(webjar.groupId, webjar.artifactId, URLEncoder.encode(webjar.versions.head.number, "UTF-8"))" class="file-list-link">
                            @if(webjar.versions.head.numFiles == 0) {
                                List Files
                            } else {
                                @webjar.versions.head.numFiles Files
                            }
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="fileListModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fileListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="fileListModalLabel" class="modal-title"></h4>
            </div>
            <div class="modal-body file-list">
            </div>
        </div>
    </div>
</div>
