@(form: Form[Application.WebJarRequest], maybeGitHubToken: Option[String] = None, maybeGitHubUsername: Option[String] = None)

@main("WebJars - Request New WebJar") {

    <div class="container">

        <div class="alert alert-danger" role="alert">
            <strong>NOTE: </strong> If you need a NEW version of an EXISTING WebJar then <a href="https://github.com/webjars">find the WebJar's repo</a> and file an issue.
        </div>

        <div class="alert alert-warning" role="alert">
            Creating new WebJars requires a healthy amount of work. <a href="@routes.Application.contributing()">Contributing a WebJar</a> will help speed up the process of getting what you need into Maven Central.
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Request a new WebJar</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="@routes.Application.webJarRequest()">
                    <fieldset>
                        <div class="form-group">
                            <label for="gitHubId" class="col-sm-2 control-label">Your GitHub ID</label>
                            @maybeGitHubUsername.fold {
                                <div class="col-sm-2">
                                    <a href="@routes.Application.githubAuthorize()" class="btn btn-default">OAuth with GitHub</a>
                                </div>
                            } { gitHubUsername =>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="gitHubUsername" value="@gitHubUsername" readonly>
                                </div>
                            }
                            <span id="helpId" class="help-block col-sm-6">Connecting to GitHub makes it easy to gather required info and file the request</span>
                        </div>
                    </fieldset>
                    <fieldset @if(maybeGitHubToken.isEmpty) { disabled }>
                        @maybeGitHubToken.map { gitHubToken =>
                            <input type="hidden" name="gitHubToken" value="@gitHubToken">
                        }
                        <div class="form-group  @form.error("webJarId").fold("")(_ => "has-error")">
                            <label for="webJarId" class="col-sm-2 control-label">WebJar ID</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="webJarId" name="webJarId" placeholder="jquery" aria-describedby="helpId" required>
                            </div>
                            <span id="helpId" class="help-block col-sm-6">The Bower/NPM module ID or GitHub repo name</span>
                        </div>
                        <div class="form-group  @form.error("webJarName").fold("")(_ => "has-error")">
                            <label for="webJarName" class="col-sm-2 control-label">WebJar Name</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="webJarName" name="webJarName" placeholder="jQuery" required>
                            </div>
                        </div>
                        <div class="form-group  @form.error("webJarVersion").fold("")(_ => "has-error")">
                            <label for="webJarVersion" class="col-sm-2 control-label">WebJar Version</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="webJarVersion" name="webJarVersion" placeholder="1.11.1" aria-describedby="helpVersion" required>
                            </div>
                            <span id="helpVersion" class="help-block col-sm-6">There <strong>MUST</strong> be a corresponding tagged / versioned download</span>
                        </div>
                        <div class="form-group  @form.error("repoUrl").fold("")(_ => "has-error")">
                            <label for="repoUrl" class="col-sm-2 control-label">Library Repo URL</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="repoUrl" name="repoUrl" placeholder="https://github.com/foo/bar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mainJs" class="col-sm-2 control-label">Main JS</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="mainJs" name="mainJs" placeholder="jquery.js" aria-describedby="helpMain">
                            </div>
                            <span id="helpMain" class="help-block col-sm-6">(Optional) Used for RequireJS</span>
                        </div>
                        <div class="form-group  @form.error("licenseId").fold("")(_ => "has-error")">
                            <label for="licenseId" class="col-sm-2 control-label">Library License ID</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="licenseId" name="licenseId" placeholder="MIT" required>
                            </div>
                        </div>
                        <div class="form-group  @form.error("licenseUrl").fold("")(_ => "has-error")">
                            <label for="licenseUrl" class="col-sm-2 control-label">Library License URL</label>
                            <div class="col-sm-4">
                                <input type="url" class="form-control" id="licenseUrl" name="licenseUrl" placeholder="http://github.com/foo/bar/blob/master/LICENSE" required>
                            </div>
                        </div>
                        @*
                        <div class="form-group">
                            <label for="webjarrequirejsdeps" class="col-sm-2 control-label">Dependencies</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="webjarrequirejsdeps" placeholder="e.g. jquery,bootstrap">
                            </div>
                        </div>
                        *@
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Request WebJar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

}