on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 8
        cache: 'sbt'

    - uses: niden/actions-memcached@v7

    - run: ./sbt test
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        DEPLOY_HEROKU_APP: ${{ secrets.DEPLOY_HEROKU_APP }}
        OSS_USERNAME: ${{ secrets.OSS_USERNAME }}
        OSS_PASSWORD: ${{ secrets.OSS_PASSWORD }}
