on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21
        cache: 'sbt'

    - run: ./sbt test
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
#        OSS_USERNAME: ${{ secrets.OSS_USERNAME }}
#        OSS_PASSWORD: ${{ secrets.OSS_PASSWORD }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
